In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

WRITE FUNCTION WHICH TAKES THE CAPILLARY DIAMETER AND GOES FROM THERE. ALSO WORKS FOR GETTING THE NUMBER OF VESSELS

D  
Mew GIVEN  
Pressure Drop GIVEN  
Number WORKED OUT
Length WORKED OUT
U WORKED OUT - but dont need to as given for a D.

First U had to be given though
New D was on 20% Rule
Then the next U can be calculated using conservation of mass (equation 18)

So pressure and u is given for a D. So could calcuate the pressure using 19 for a D and worked out U.

In [45]:
df = pd.DataFrame({'Name': ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'C', 'V6', 'V5', 'V4', 'V3', 'V2', 'V1'],
                  'Diameter(m)': [0,0,0,0,0,0,8e-6,0,0,0,0,0,0],
                  'U(m/s)': [0,0,0,0,0,0,2.3e-3,0,0,0,0,0,0]})
df

   Name  Diameter(m)  U(m/s)
0    A1     0.000000  0.0000
1    A2     0.000000  0.0000
2    A3     0.000000  0.0000
3    A4     0.000000  0.0000
4    A5     0.000000  0.0000
5    A6     0.000000  0.0000
6     C     0.000008  0.0023
7    V6     0.000000  0.0000
8    V5     0.000000  0.0000
9    V4     0.000000  0.0000
10   V3     0.000000  0.0000
11   V2     0.000000  0.0000
12   V1     0.000000  0.0000

In [64]:
for i in range(13):
    if i <=6:
        df.loc[i,'Diameter(m)'] = df.loc[6,'Diameter(m)']*(1.2**(6-i))
    else:
        df.loc[i,'Diameter(m)'] = df.loc[6,'Diameter(m)']*(1.2**(i-6))

#Could research how well the 20% drop thing fits the data
        
for i in range(13):
    if i <=5:
        df.loc[(5-i),'U(m/s)'] = ( 2 * (df.loc[(6-i),'Diameter(m)']**2) * df.loc[(6-i),'U(m/s)'] / (df.loc[(5-i),'Diameter(m)']) )**0.5
    else:
        df.loc[i,'U(m/s)'] = ( 2 * (df.loc[i-1,'Diameter(m)']**2) * df.loc[i-1,'U(m/s)'] / (df.loc[i,'Diameter(m)']) )**0.5 ###0.5 or 2
        
for i in range(13):

In [65]:
df

   Name  Diameter(m)    U(m/s)
0    A1     0.000024  0.000028
1    A2     0.000020  0.000023
2    A3     0.000017  0.000019
3    A4     0.000014  0.000016
4    A5     0.000012  0.000014
5    A6     0.000010  0.000012
6     C     0.000008  0.000016
7    V6     0.000010  0.000015
8    V5     0.000012  0.000015
9    V4     0.000014  0.000017
10   V3     0.000017  0.000020
11   V2     0.000020  0.000023
12   V1     0.000024  0.000028